.button {

  @extend button;
  border: 2px solid $color-almost-black;
  font-weight: bold;

  @include modifier('tiny') {
    padding: $padding-small/2;
  }

  @include modifier('small') {
    font-size: 0.625rem;
    padding: $padding-small;
  }

  @include modifier('big') {
    font-size: 0.875rem;
    padding: $padding-small $padding-large;
  }

  @include modifier('huge') {
    font-size: 1rem;
    padding: $padding-large;
    width: 100%;
  }

  @include modifier('full-width') {
    width: 100%;
  }

  @include modifier('red') {
     color: $color-red;
     border-color: $color-red;
     &:hover {
       background: $color-red;
       color: $color-off-white;
     }
   }

  @include modifier('orange') {
    color: $color-orange;
    border-color: $color-orange;
    &:hover {
      background: $color-orange;
      color: $color-off-white;
    }
  }

  @include modifier('green') {
    color: $color-primary;
    border-color: $color-primary;
    &:hover {
      background: $color-primary;
      color: $color-off-white;
    }
  }

}