.form {
  @include row;

  &--full-width {
    @extend .form;
    input[type=text],
    input[type=password],
    input[type=number],
    input[type=email],
    input[type=url],
    select {
      width: 100%;
    }
  }

}

.form__group {
  @include span-columns(12);

  & + .form__group {
    margin-top: $vertical-spacing;
  }

  &--half {
    @include span-columns(6);
    @include omega(2n);
    & + .form__group--half {
      margin-top: 0;
    }
  }

}

.form__label {
  display: block;

  & + .form__control,
  {
    margin-top: $padding-small;
  }

}

.form__select {
  @extend .form__control;
  position: relative;
  &:after {
    @include icon("\f123");
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
  &:hover {
    cursor: pointer;
  }
  select {
    -webkit-appearance: none;
  }
}


select {
  background: $color-white;
  border: 2px solid $color-off-white;
  border-radius: 0;
  outline: 0;
  padding: 0.5rem;
  &:hover {
    border-color: $color-light-gray;
    cursor: pointer;
  }
}