.form {
  @include row;

  &--full-width {
    @extend .form;
    input[type=text],
    input[type=password],
    input[type=number],
    input[type=email],
    input[type=url],
    select {
      width: 100%;
    }
  }

}

.form__group {
  @include span-columns(12);

  & + .form__group {
    margin-top: $vertical-spacing;
  }

  &--half {
    @include span-columns(6);
    @include omega(2n);
    & + .form__group--half {
      margin-top: 0;
    }
  }

}

.form__label {
  display: block;

  & + .form__control,
  {
    margin-top: $padding-small;
  }

}