.highcharts-range-selector {
  margin-top: 1px !important;
  margin-left: 1px !important;
  border: 0px solid $color-off-white !important;
  font-size: 12px !important;
  color: $color-almost-black !important;
}

.highcharts-input-group {
  text-transform: uppercase !important;
  text {
    &:hover {
      cursor: pointer;
    }
  }
}

.highcharts-navigator path {
  stroke: white;
}