// Generates a BEM-element class extension.
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}

// Generates a BEM-modifier class extension.
@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}

%no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}