// Generates a BEM-element class extension.
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}

// Generates a BEM-modifier class extension.
@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}

@mixin icon($content) {
  content: $content;
  display: block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
}

%no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}