// Pace
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  @extend %no-select;
}

.pace-inactive {
  opacity: 0;
  transition: 0.5s;
}

.pace-active {
  opacity: 1;
  transition: 0s;
}

.pace .pace-progress {
  background: rgba(255, 255, 255, 0.6);
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
  transform: translate3d(0,0,0);
}

#content {
  transform: translate3d(0, 0, 0);
  animation-duration: 0.3s;
  transition-timing-function: linear;
  animation-fill-mode: both;
  animation-name: fadeIn;
  opacity: 1;
}

#side.is-ready #content {
  -webkit-animation-direction: alternate-reverse;
  -moz-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}