// Grid
$column: 80px;
$gutter: 20px;
$grid-columns: 12;
$max-width: 1200px;

$desktop: new-breakpoint(min-width 961px 12);
$tablet: new-breakpoint(min-width 481px 12);
$mobile: new-breakpoint(max-width 480px 12);

// Spacing
$vertical-spacing: 1.5625rem;
$horizontal-spacing: 1.5625rem;
$padding-large: 1rem;
$padding-small: 0.5rem;

// Typography
$font-weight: 300;
$font-family: "DIN Pro", "Roboto", Helvetica, Arial, sans-serif;

// Colors
$color-white: #FFF;
$color-almost-white: #F6F6F6;
$color-off-white: #EEE;
$color-light-gray: #DDD;
$color-gray: #CCC;
$color-green: #38BB84;
$color-orange: #FF5F38;
$color-red: #FB0E29;
$color-blue: steelblue;
$color-almost-black: #333;
$color-black: #000;

$color-main: $color-green;

// Box shadow
$box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.05);

// More grid
.container {
  @include outer-container();
  @include pad(0 default);
}
.row {
  @include row();
}