@import url(http://fonts.googleapis.com/css?family=Yantramanav:400,300,700);

// Grid
$column: 80px;
$gutter: 20px;
$grid-columns: 12;
$max-width: 1200px;

$desktop: new-breakpoint(min-width 961px 12);
$tablet: new-breakpoint(min-width 481px 12);
$mobile: new-breakpoint(max-width 480px 12);

// Spacing
$vertical-spacing: 1.5625rem;
$horizontal-spacing: 1.5625rem;
$padding-large: 1rem;
$padding-small: 0.5rem;

// Typography
$font-weight: 300;
$font-family: "Yantramanav", "San Fransisco", "Roboto", "Helvetica Neue", Arial, sans-serif;

// Colors
$color-white: #FFF;
$color-almost-white: #F6F6F6;
$color-off-white: #EEE;
$color-light-gray: #DDD;
$color-gray: #CCC;
$color-dark-gray: #888;
$color-green: #38BBA5;
$color-cyan: #23A4A9;
$color-gold: #FD9C3C;
$color-yellow: #FFB14A;
$color-orange: #FF6E4C;
$color-red: #FB0E29;
$color-pink: #CE1F55;
$color-blue: #38a5bb;
$color-deep-blue: #2E5998;
$color-dark-blue: #404F57;
$color-almost-black: #333;
$color-black: #000;

$color-primary: $color-deep-blue;
$color-secondary: $color-blue;

// Box shadow
$box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.05);

// More grid
.container {
  @include outer-container();
  @include pad(0 default);
}
.row {
  @include row();
}