body {
  font-family: $font-family;
  font-weight: $font-weight;
  color: $color-almost-black;
}

// Paragraphs and spans
p {

}

.unit {
  vertical-align: bottom;
  line-height: 1.25em;
  font-size: 0.75em;
}

// Headings
h1, h2, h3, h4, h5, h6 {
}

h1 {
  font-size: 2rem;
  margin: $vertical-spacing 0;
  &.page-title {
    margin-bottom: 0;
  }
}
h2 {
  font-size: 1rem;
}
h3 {
  font-size: 0.875rem;
}
h4 {
  font-size: 0.75rem;
}
h5 {
  font-size: 0.625rem;
}
h6 {
  font-size: 0.5rem;
}

.logotype {
  font-weight: bold;
  color: $color-primary;
  margin: 0;
  &:after {
    display: inline-block;
    content: ' ';
    font-family: "Ionicons", sans-serif;
  }
}

// Links
a {
  color: $color-primary;
  text-decoration: none;
  transition: .125s;
}

// Table
table {
  width: 100%;
  font-size: 0.75rem;

  tr:nth-child(even),
  th {
    background: $color-almost-white;
  }

  th {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }

  td,
  th {
    padding: 0.5rem 0;
    text-align: center;
    vertical-align: bottom;
  }

  td:first-child,
  th:first-child {
    padding-left: $horizontal-spacing/4;
  }
  td:last-child,
  th:last-child{
    padding-right: $horizontal-spacing/4;
  }

}

// Inputs
input {
  border: 2px solid $color-off-white;
  outline: 0;
  padding: $padding-small;
  transition: border-color .125s, color .125s;
  &:hover {
    border-color: $color-light-gray;
  }
  &:focus {
    border-color: $color-blue;
  }
}

input[type=checkbox] {
  float: left;
  & + label {
    margin-left: $padding-small;
    line-height: 0.1;
  }
}