body {
  font-family: $font-family;
  font-weight: $font-weight;
  color: $color-almost-black;
}

// Paragraphs and spans
p {

}

.unit {
  vertical-align: bottom;
  line-height: 1.25em;
  font-size: 0.75em;
}

// Headings
h1, h2, h3, h4, h5, h6 {
}

h1 {
  font-size: 2rem;
  margin: $vertical-spacing 0;
  &:first-child {
    margin-top: 0;
  }
}
h2 {
  font-size: 1rem;
}
h3 {
  font-size: 0.875rem;
}
h4 {
  font-size: 0.75rem;
}
h5 {
  font-size: 0.625rem;
}
h6 {
  font-size: 0.5rem;
}

.logotype {
  font-weight: bold;
  color: $color-green;
  &:after {
    display: inline-block;
    content: ' ';
    font-family: "Ionicons", sans-serif;
  }
}

// Links
a {
  color: $color-main;
  text-decoration: none;
  transition: .125s;
}

// Buttons
button {
  background: transparent;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: .125s;
  padding: $padding-small $padding-large;
  outline: 0;
  border: 2px solid $color-almost-black;
  font-weight: bold;
  transform: translateZ(0);
  &:hover {
    background: $color-almost-black;
    color: $color-almost-white;
  }
}

// Table
table {
  width: 100%;

  tr:nth-child(even) {
    background: $color-almost-white;
  }

  th {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }

  td {
    padding: 0.5rem 0;
    text-align: center;
    vertical-align: bottom;
  }

  td:first-child {
    padding-left: $horizontal-spacing/4;
  }
  td:last-child {
    padding-right: $horizontal-spacing/4;
  }

}

// Inputs
input {
  border: 2px solid $color-off-white;
  outline: 0;
  padding: $padding-small;
  transition: border-color .125s, color .125s;
  &:hover {
    border-color: $color-light-gray;
  }
  &:focus {
    border-color: $color-blue;
  }
}