.block {
  background: $color-white;
  overflow: hidden;
  border-bottom: 1px solid $color-light-gray;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .025);

  &--half {
    @include span-columns(6);
  }

  &--borderless {
    border-bottom: none;
    padding: $vertical-spacing $horizontal-spacing 0;
  }

  & + .block {
    margin-top: $vertical-spacing;
  }

  &.is-minimized {
    .block__content {
      height: 0;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  }
}

.block__header {
  border-bottom: 1px solid $color-almost-white;
  padding: $vertical-spacing $horizontal-spacing;
  position: relative;

  h1 {
    font-size: 1.25rem;
    margin: 0;
  }

}

.block__content {
  padding: $vertical-spacing $horizontal-spacing;

  &--no-padding {
    padding: 0;
  }

}

.block__toggle {
  border: 0;
  color: $color-almost-black;
  display: inline;
  font-size: 2rem;
  opacity: 0.5;
  padding: 0;
  position: absolute;
  right: $horizontal-spacing;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: middle;
  &:hover {
    background: none;
    color: initial;
    opacity: 1;
  }
}