.instrument__chart {
  box-sizing: border-box;
  overflow: hidden; // Remove margin collapse from child
}

.instrument__chart__inner {
//  margin: $vertical-spacing $horizontal-spacing;
  padding-bottom: $vertical-spacing;
  border-bottom: 1px solid $color-almost-white;
  min-height: 28rem;
  text-align: center;

  width: 100%;
  .loader {
    display: inline-block;
    margin: 12rem auto 0;
    -webkit-transform: translateZ(0) translateY(1000%);
    -ms-transform: translateZ(0) translateY(1000%);
    transform: translateZ(0) translateY(1000%);
    font-size: 1rem;
    border-color: $color-off-white;
    border-left: 0.25em solid $color-primary;
  }
  .loader,
  .loader:after {
    width: 4rem;
    height: 4rem;
  }
}

.instrument__meta__table {
  @include span-columns(6);
  display: table;

  font-size: 0.75rem;

  tbody {
    width: 100%;
  }
  tr:hover {
    background: $color-off-white;
  }
  td {
    vertical-align: middle;
  }
  td:first-child {
    text-align: left;
    font-weight: 500;
  }
  td:last-child {
    text-align: right;
    word-break: break-all;
  }

  .unit {
    vertical-align: middle;
  }

}

.order__form {

  .order__form__buy-sell {
    padding-top: 1.5rem;

    button {
      @include span-columns(6);
      @include omega(2n);
    }

  }

}