.instrument__chart {
  background: $color-green;
  box-sizing: border-box;
  overflow: hidden; // Remove margin collapse from child
}

.instrument__chart__inner {
  margin: $vertical-spacing $horizontal-spacing;
}

.instrument__meta__table {
  @include span-columns(6);
  display: table;

  font-size: 0.75rem;

  tbody {
    width: 100%;
  }
  tr:hover {
    background: $color-off-white;
  }
  td {
    vertical-align: middle;
  }
  td:first-child {
    text-align: left;
    font-weight: 500;
  }
  td:last-child {
    text-align: right;
    word-break: break-all;
  }

  .unit {
    vertical-align: middle;
  }

}