.stocks-table {
  font-size: .75rem;
  line-height: 1.5;
  letter-spacing: 0.1em;

  tr {
    transition: .075s;
  }

  tr:hover {
    background: $color-off-white;
  }

  td {
    text-transform: uppercase;
  }

  th:first-child,
  th:nth-child(2),
  td:first-child,
  td:nth-child(2) {
    text-align: left;
  }

  td:nth-child(2) {
    width: 70%;
  }

  td.buy-sell-buttons {
    button {
      @extend .button--tiny;
      border-width: 0;
    }
    text-align: right;
    white-space: nowrap;
  }
}