@charset "UTF-8";
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%; }

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2.35765%; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.row {
  display: block; }
  .row::after {
    clear: both;
    content: "";
    display: table; }

body {
  font-family: "DIN Pro", "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #333; }

h1 {
  font-size: 1.25rem; }

h2 {
  font-size: 1rem; }

h3 {
  font-size: 0.875rem; }

h4 {
  font-size: 0.75rem; }

h5 {
  font-size: 0.625rem; }

h6 {
  font-size: 0.5rem; }

a {
  color: #38BB84;
  text-decoration: none;
  transition: .125s; }

button {
  background: transparent;
  border: 1px solid #333;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: .125s; }
  button:hover {
    background: #333;
    color: #F6F6F6; }

table {
  font-size: .75rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  width: 100%; }
  table tr:nth-child(even) {
    background: #F6F6F6; }
  table th {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase; }
  table td {
    padding: 0.5rem 0;
    text-align: center;
    vertical-align: bottom; }
  table td:first-child {
    padding-left: 0.5rem; }
  table td:last-child {
    padding-right: 0.5rem; }

.main-content {
  margin-top: 1.5625rem; }
  @media screen and (min-width: 961px) {
    .main-content {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      .main-content:last-child {
        margin-right: 0; } }

.sidebar {
  margin-top: 1.5625rem; }
  @media screen and (min-width: 961px) {
    .sidebar {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .sidebar:last-child {
        margin-right: 0; } }

.topbar {
  background: #333;
  border-bottom: 1px solid #CCC;
  color:   #F6F6F6;
  height: 6rem; }
  .topbar__logotype {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .topbar__logotype:last-child {
      margin-right: 0; }
    .topbar__logotype h1 {
      line-height: 6rem; }
  .topbar__navigation {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .topbar__navigation:last-child {
      margin-right: 0; }
    .topbar__navigation nav {
      float: right;
      line-height: 6rem; }
      .topbar__navigation nav a {
        margin-left: 1.5625rem;
        color: #FFF; }
        .topbar__navigation nav a:hover {
          color: #38BB84; }

.block {
  background: #FFF; }
  .block + .block {
    margin-top: 1.5625rem; }
  .block__header {
    border-bottom: 1px solid #F6F6F6;
    padding: 1.5625rem 1.5625rem; }
    .block__header--borderless {
      border-bottom: none;
      padding: 1.5625rem 1.5625rem 0; }
  .block__content {
    padding: 1.5625rem 1.5625rem; }

.table__stocks td {
  text-transform: uppercase; }

.table__stocks th:first-child,
.table__stocks th:nth-child(2),
.table__stocks td:first-child,
.table__stocks td:nth-child(2) {
  text-align: left; }

.table__stocks td:nth-child(2) {
  width: 50%; }

.table__stocks td:last-child {
  text-align: right;
  width: 100px; }

.table__stocks td:last-child button + button {
  margin-left: 0.5rem; }

.button {
  border: 1px solid #333; }
  .button--small {
    font-size: 0.625rem; }
  .button--red {
    color: #FB0E29;
    border-color: #FB0E29; }
    .button--red:hover {
      background: #FB0E29;
      color: #EEE; }
  .button--orange {
    color: #FF5F38;
    border-color: #FF5F38; }
    .button--orange:hover {
      background: #FF5F38;
      color: #EEE; }
  .button--green {
    color: #38BB84;
    border-color: #38BB84; }
    .button--green:hover {
      background: #38BB84;
      color: #EEE; }

.overlay {
  background: rgba(0, 0, 0, 0.75);
  display: none;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.modal {
  visibility: hidden;
  background: #FFF;
  padding: 1.5625rem 1.5625rem;
  position: fixed;
  top: 45%;
  left: calc(50% - 200px);
  right: 50%;
  margin: 0 auto;
  height: 300px;
  width: 400px;
  opacity: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  transition: .25s ease; }
  .modal.is-open {
    top: 50%;
    opacity: 1; }

body {
  background: #EEE;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=app.css.map */