// Grid
@import '../../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';
@import '../../../bower_components/neat/app/assets/stylesheets/_neat.scss';
//@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,300);

// Imports
@import 'base/reset';
@import 'base/mixins';
@import 'base/settings';
@import 'base/typography';
@import 'base/buttons';
@import 'base/forms';
@import 'base/layout';

// Parts
@import 'parts/header';
@import 'components/block';

// Components
@import 'components/stocks-table';
@import 'components/modal';

body {
  background: $color-off-white;
  width: 100%;
  height: 100%;
}