// Grid
@import '../../../public/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';
@import '../../../public/bower_components/neat/app/assets/stylesheets/_neat.scss';

// Imports
@import 'base/reset';
@import 'base/mixins';
@import 'base/settings';
@import 'base/typography';
@import 'base/buttons';
@import 'base/forms';
@import 'base/layout';
@import 'base/page-transitions';
@import 'base/highstocks';

// Parts
@import 'parts/header';
@import 'parts/sidebar';

// Components
@import 'components/block';
@import 'components/stocks-table';
@import 'components/portfolio-meta';
@import 'components/settings';
@import 'components/orderbook';
@import 'components/modal';
@import 'components/notice';
@import 'components/instrument';
@import 'components/breadcrumbs';

html, body {
  background: $color-off-white;
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: $vertical-spacing;
}