.block {
  background: $color-white;
  & + .block {
    margin-top: $vertical-spacing;
  }

  @include element('header') {
    border-bottom: 1px solid $color-almost-white;
    padding: $vertical-spacing $horizontal-spacing;

    @include modifier('borderless') {
      border-bottom: none;
      padding: $vertical-spacing $horizontal-spacing 0;
    }

  }

  @include element('content') {
    padding: $vertical-spacing $horizontal-spacing;
  }

}